body {
  font-family: Arial, sans-serif;
}
.hero {
  background: #fff7ed;
  padding: 40px 20px;
}
.hero img {
  max-width: 300px;
  border-radius: 12px;
  margin-top: 20px;
}
.cat-box {s
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.product-card img {
  max-height: 160px;
  object-fit: cover;
}
